<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="BingeWebFrameWork" parallel="false" preserve-order="true">

    <listeners>
        <listener class-name="com.binge.qa.listeners.TestListener"/>
    </listeners>

    <test name="SanityTest">
<!--        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>-->
        <classes>
            <class name="com.binge.qa.LanguageDrawerTest"/>
            <class name="com.binge.qa.GuestUserTest"/>
            <class name="com.binge.qa.SearchTest"/>
            <class name="com.binge.qa.LoginTest"/>
            <class name="com.binge.qa.LoginAfterTest"/>
            <class name="com.binge.qa.FooterTest"/>
            <class name="com.binge.qa.NavbarTest"/>

        </classes>
    </test>
</suite>